* {
    outline: none;
}

.input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-width: 2px;
  border-radius: 0.25rem;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(55, 65, 81);
}
::-webkit-scrollbar-thumb {
  background: rgb(31, 41, 55);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(31, 41, 55);
}